 .app {
  text-align: center;
  font-weight: 200;
} 

/* .image-container{
  
} */

.image{
  display : inline-block;
  width : 50vh;
  height : 50vh;
}

p.help-text{
  margin-top : 10px;
  color : red;
}
